body{
  <!-- background-color: #79022f; -->
}

<!--  -->
<!--  -->
nav{
  
}

#carouselExampleIndicators{
  
}


footer{
  background-color: #343a40;
}

.col{
  text-align: center;
  margin-top: 5rem; 
}

.card{
  display: inline-block;
}


#map{
  margin-top: 5rem;
}



.footter{
  padding-top: 22.5%;
}
<!-- ---------------------------------------------------------------/
