body{
  <!-- background-color: #79022f; -->
}

.sign{
  text-align: right;
}
<!--  -->
<!--  -->
nav{
  
}

#carouselExampleIndicators{
  
}


footer{
  background-color: #8b0e4d;
}

.col{
  text-align: center;
  margin-top: 5rem; 
}

.card{
  display: inline-block;
}


#map{
  margin-top: 5rem;
}



.footter{
  padding-top: 123.5px;
}

.signin{
  width: 100%;
  max-width: 300px;
  padding: 15px, 5px, 5px, 5px;
  margin: auto;
}
.signin img{
  margin-left: 5rem;
}

h1{
  text-align: center;
}
